@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #050505;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  cursor: none !important;
}

canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}

/* Fix for Drei Drei scroll containers inside Tailwind layers */
.shared-scroll-container div {
  pointer-events: auto !important;
}